html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
    z-index: 10;
}
video {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}